<div class="row">
  <div class="medium-12 columns medium-centered">
  <h4><a href="/skills/1/connections/1"><%= connection.skill.try(:title)%></a></h4>

  </div>
  </div>
  <div class="row">
    <div class="medium-12 columns medium-centered">
  <p><%= connection.details %></p>
  </div>
  </div>
  <div class="row">
    <div class="medium-12 columns medium-centered">
  <p>Meetup time: <%= connection.meetup_time %></p>
  </div>
  </div>
  <div class="row">
    <div class="medium-12 columns medium-centered">
  <p>Status: <%= connection.status %></p>
  </div>
  </div>
  <div class="actions pull-xs-right">
     <% if current_page?(action: "outbox")%>
        <%= link_to "Cancel", cancel_connection_path(connection), class: "btn btn-secondary" %>
    <% else %>
        <%= link_to "Reject", reject_connection_path(connection), class: "btn btn-danger" %>
        <%= link_to "Accept", accept_connection_path(connection), class: "btn btn-success" %>
    <% end %>
  </div>
</div>
