<div class="row">
  <div class="medium-12 columns medium-centered">
  <h3><%= link_to connection.skill.try(:title), skill_connection_path(connection.skill_id, connection) %></h3>
  </div>
  </div>
  <div class="row">
    <div class="medium-12 columns medium-centered">
  <li><strong>Lesson status:</strong> <%= connection.status %></li>
  </div>
  </div>
  <div class="row">
    <div class="medium-12 columns medium-centered">
  <div class="actions pull-xs-right">
     <% if current_page?(action: "outbox")%>
        <%= link_to "Cancel", cancel_connection_path(connection), class: "btn btn-secondary" %>
    <% else %>
        <%= link_to "Reject", reject_connection_path(connection), class: "btn btn-danger" %>
        <%= link_to "Accept", accept_connection_path(connection), class: "btn btn-success" %>
    <% end %>
  </div>
</div>
</div>