<h3>Connection show page</h3>

<p><%= @skill.title %></p>
<p>Padawan: <%= @connection.sender_id %></p>
<p>Master: <%= @skill.user.first_name %></p>


<%= render partial: 'comments/form', locals: { commentable: @connection } %>
<%= render partial: 'comments/comment', collection: @comments, locals: { commentable: @connection } %>