<div class="row front-row">
  <div class="medium-12 columns">
<h2>Edit Profile</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="row" data-equalizer>
    <div class="medium-6 columns" data-equalizer-watch>
    <%= f.text_field :first_name, placeholder: "First Name"%>
  </div>

    <div class="medium-6 columns" data-equalizer-watch>
    <%= f.text_field :last_name, placeholder: "Last Name"%>
  </div>
  </div>


  <div class="row" data-equalizer>
    <div class="medium-6 columns" data-equalizer-watch>
    <%= f.text_field :location, placeholder: "Location"%>
  </div>
  
  <div class="medium-6 columns" data-equalizer-watch>
   <%= f.file_field :photo %>
  </div>
  </div>

  <div class="row" data-equalizer>
    <div class="medium-12 columns" data-equalizer-watch>
    <%= f.email_field :email, placeholder: "Email Address", autofocus: true %>
  </div>
  </div>

  <div class="row" data-equalizer>
    <div class="medium-6 columns" data-equalizer-watch>
    <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

    <div class="medium-6 columns" data-equalizer-watch>
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>
  </div>

  <div class="row" data-equalizer>
    <div class="medium-12 columns" data-equalizer-watch>
    <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password, autocomplete: "off" %>
  </div>
  </div>

  <div class="row" data-equalizer>
    <div class="medium-12 columns" data-equalizer-watch>
  <div class="actions">
    <%= f.submit "Update", class: "button" %>
  </div>
  </div>
  </div>
<% end %>

<div class="row" data-equalizer>
  <div class="medium-12 columns" data-equalizer-watch>
<h3>Cancel my account</h3>
<p>Unhappy? We would be sad to see you go! <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "button" %></p>
</div>
</div>

<%= link_to "Back", :back %>

</div>
</div>
