<%= form_for(@skill) do |f| %>
  <%= f.text_field :title, placeholder: "Title", autofocus: true %>
  <li>Category:</li>
  <% @categories.each do |category, value| %>
    <input type="radio" id="<%= category %>" name="skill[category]"></input>
    <label for="<%= category %>" class="label-icon" style="background-image: url('/assets/<%= value %>');"></label>
  <% end %>
  <%= f.text_area :description, placeholder: "Description", autofocus: true %>
  <%= f.select :location, ['North London', 'East London', 'South London', 'West London', 'Central London'], autofocus: true %>
  <%= f.select :availability, ['Morning', 'Afternoon', 'Evening'], autofocus: true %>
  <%= f.text_field :response_time, placeholder: "Response Time (roughly)", autofocus: true %>
  <%= f.submit "Share Skill" %>
<% end %>