<% @connections.each do |connection| %>
<div class="row spacer">
  <div class="medium-12 columns">
    <% if current_user.id == connection.sender_id %>

    <div class="card">
      <div class="content">
        <%  users = User.where(id: connection.receiver_id) %>
        <% users.each do |user| %>
        <% if connection.status == "Pending" %>
        <li><strong class="pending">You applied to learn: </strong></li>
        <% elsif connection.status == "Accepted" %>
        <li><strong class="accepted">You have been accepted to learn: </strong></li>
        <% elsif connection.status == "Completed" %>
        <li><strong class="completed">You successfully completed: </strong></li>
        <% else %>
        <li><strong class="declined">You were declined: </strong></li>
        <% end %>

        <div class="row">

          <div class="medium-4 columns">
            <%= link_to image_tag(user.photo.thumb.url), skill_connection_path(connection.skill_id, connection) %>
          </div>

          <div class="medium-8 columns">
          <h3><%= link_to connection.skill.try(:title), skill_connection_path(connection.skill_id, connection) %></h3>
            <li><strong>Master:</strong> <%= user.first_name %></li>
            <li><strong>Lesson status:</strong> <%= connection.status %></li>

            <% if connection.status == "Pending" %>
            <li><%= link_to "Cancel", cancel_connection_path(connection), class: "button" %></li>
            <% else %>
            <li>You can no longer change your request status</li>
            <% end %>
          </div>

        </div>
        <% end %>
      </div>
    </div>
    <% end %>
  </div>
</div>
<% end %>




