<% @connections.each do |connection| %>
<div class="row">
  <% if current_user.id == connection.receiver_id %>
  <div class="medium-12 columns">
    <div class="card">
      <div class="content">
        <li><strong><%= link_to connection.skill.try(:title), skill_connection_path(connection.skill_id, connection) %></strong></li>
        <% users = User.where(id: connection.sender_id) %>
        <% users.each do |user| %>
        <li><strong>Padawan:</strong> <%= user.first_name %></li>
        <% end %>
        <li><strong>Lesson status:</strong> <%= connection.status %></li>
        <% if connection.status == "Pending" %>
        <li><%= link_to "Accept", accept_connection_path(connection) %></li>
        <li><%= link_to "Decline", reject_connection_path(connection) %></li>
        <% elsif connection.status == "Declined" %>
        <li>You declined this connection</li>
        <% elsif connection.status == "Accepted" && connection.meetup_time.past? %>
        <li><%= link_to "Complete", complete_connection_path(connection) %></li>
        <% end %>
      </div>
    </div>
  </div>
  <% end %>
</div>
<% end %>