<% if current_user.id != skill.user.id %>
<div class="row">
  <div class="medium-12 columns medium-centered">
  <h1><%= link_to skill.title, skill %></h1>
  </div>
  </div>
  <div class="row">
    <div class="medium-6 columns" data-equalizer-watch>
    <li><strong>Location:</strong> <%= skill.location %></li>
    </div>
    <div class="medium-6 columns" data-equalizer-watch>
    <li><strong>Posted by:</strong> <%= skill.user.first_name %></li>
    </div>
    </div>
  <div class="row" data-equalizer>
    <div class="medium-6 columns" data-equalizer-watch>
  <li><strong>Response time:</strong> <%= skill.response_time %></li>
  </div>
    <div class="medium-6 columns" data-equalizer-watch>
  <li><strong>Availability:</strong> <%= skill.availability %></li>
  </div>
  </div>
  <div class="row" data-equalizer>
  <div class="medium-12 columns medium-centered" data-equalizer-watch>
  <li><strong>Category:</strong> <%= skill.category %></li>
    </div>
  </div>
    <% end %>
  