  <% @skills.in_groups_of(1) do |group| %>
    <div class="row" data-equalizer>
    <% group.compact.each do |skill| %>
    <% if current_user.id != skill.user.id %>
  <div class="medium-12 columns">
    <div class="card" data-equalizer-watch>
      <div class="content">
        <li><strong>Category:</strong> <%= skill.category %></li>

        <span class="title"><%= link_to skill.title, skill %></span>


        <li><strong>Location:</strong> <%= skill.location %></li>
        <li><strong>Posted by:</strong> <%= skill.user.first_name %></li>
        <li><strong>Response time:</strong> <%= skill.response_time %></li>
        <li><strong>Availability:</strong> <%= skill.availability %></li>
      </div>
    </div>
  </div>
  <% end %>
  <% end %>
</div>
<% end %>
