    <div class="row spacer" data-equalizer>
    <% if current_user.id != skill.user.id %>
  <div class="medium-12 columns">
    <div class="card" data-equalizer-watch>
      <div class="content">
      <div class="row">
        <div class="medium-3 columns">
      <li><%= link_to image_tag(skill.user.photo.thumb.url), skill_path(skill) %></li>
        </div>
        <div class="medium-9 columns">
        <span class="title"><h3><%= link_to skill.title, skill %></h3></span>
        <li><strong>Category:</strong> <%= skill.category %></li>
        <li><strong>Location:</strong> <%= skill.location %></li>
        <li><strong>Availability:</strong> <%= skill.availability %></li>
        <li><strong>Taught by:</strong> <%= skill.user.first_name %></li>
        </div>
      </div>
    </div>
  </div>
  </div>
  <% end %>
</div>