<!-- Wraps the entire page -->
<div class="row main-row">
  <div class="medium-10 columns medium-centered">

    <ul class="tabs" data-tab data-options="scroll_to_content: false">
      <li class="tab-title"><a href="#learn">Learn a skill</a></li>
      <li class="tab-title"><a href="#user-learnings"><%= current_user.first_name %>'s learnings</a></li>
    </ul>

    <div class="tabs-content">

      <div class="content" id="learn">
        <div class="row" data-equalizer>
          <%#= @categories %>
          <%= search_form_for @q do |f| %>
          <div class="medium-5 columns">
            <%= f.label :location_cont %>
            <%= f.text_field :location_cont %>
          </div>
          <div class="medium-5 columns">
            <%= f.label :category_cont %>
            <%= f.text_field :category_cont %>
          </div>
          <div class="medium-2 columns">
            <%= f.submit "Submit", class: "button" %>
          </div>

          <% end %>
        </div>
        <%= render "skill" %>
      </div>

      <div class="content" id="user-learnings">
        <%= render "learn" %>
    </div>

   </div>
 </div>
 </div>

