<!-- Wraps the entire page -->
<div class="row main-row">
  <div class="medium-10 columns medium-centered">

    <ul class="tabs" data-tab data-options="scroll_to_content: false">
      <li class="tab-title"><a href="#learn">Learn a skill</a></li>
      <li class="tab-title"><a href="#user-learnings"><%= current_user.first_name %>'s learnings</a></li>
    </ul>

    <div class="tabs-content">

      <div class="content" id="learn-content">
        <div class="row">
          <div class="medium-12 columns">
            <li><%= image_tag("/assets/running-pair.jpg") %></li>
          </div>
        </div>
        <div class="row" data-equalizer>

          <%#= @categories %>
          <%= search_form_for @q do |f| %>
          <div class="medium-5 columns">
            <%= f.text_field :location_cont, placeholder: "Search for a location" %>
          </div>
          <div class="medium-5 columns">
            <%= f.text_field :category_cont, placeholder: "Search for a category" %>
          </div>
          <div class="medium-2 columns">
            <%= f.submit "Submit", class: "button" %>
          </div>

          <% end %>
        </div>
        <%= render @skills %>
      </div>

      <div class="content" id="user-learnings-content">

       <div class="row">
         <div class="medium-12 columns">
           <div class="card">
           <div class="content">
           <div class="row">
             <div class="medium-3 columns">
                <%= image_tag(current_user.photo.thumb.url) %>
                </div>
                <div class="medium-9 columns">
               <h2><%= current_user.first_name %> <%= current_user.last_name %></h2>
               <h4>Credits:</strong> <%= current_user.credits %></h4>
               </div>
               </div>
             </div>
           </div>
           </div>
         </div>
         
       </div>
     </div>
     

     <%= render "learn" %>
     

   </div>
 </div>
</div>
</div>
</div>

<script>
  $(document).ready(function() {
    if (location.search && location.pathname == "/skills") {
      var anchorTagToSelect = $("a[href='#learn']")
      var tabToSelect = anchorTagToSelect.parent();
      tabToSelect.toggleClass("active");

      var contentToSelect = $("#learn-content");
      contentToSelect.toggleClass("active");
    }
  });
</script>
