<ul class="tabs" data-tab>
  <li class="tab-title active"><a href="#panel1">Learn a skill</a></li>
  <li class="tab-title"><a href="#panel2"><%= current_user.first_name %>'s learnings</a></li>
</ul>
<div class="tabs-content">
  <div class="content active" id="panel1">
   <h3>All Skills</h3>

   <%= search_form_for @q do |f| %>
     <p>
       <%= f.label :location_cont %>
       <%= f.text_field :location_cont %>
     </p>
     <p>
       <%= f.label :category_cont %>
       <%= f.text_field :category_cont %>
     </p>
     <p>
       <%= f.submit %>
     </p>
   <% end %>


   <span><%= sort_link @q, :title %></span>

   <%= render @skills %>
  </div>
  <div class="content" id="panel2">
  <h3><%= current_user.first_name %> <%= current_user.last_name %></h3>
  <li><strong>Credits:</strong> <%= current_user.credits %></li>
  <p><h3>My Learnings</h3></p>
   <% @connections.each do |connection| %>
   <% if current_user.id == connection.sender_id %>
   <li><strong><%= link_to connection.skill.try(:title), skill_connection_path(connection.skill_id, connection) %></strong></li>
   <%  users = User.where(id: connection.receiver_id) %>
   <% users.each do |user| %>
   <li><strong>Master:</strong> <%= user.first_name %></li>
   <% end %>
   <li><strong>Lesson status:</strong> <%= connection.status %></li>
   <% if connection.status == "Pending" %>
   <li><%= link_to "Cancel", cancel_connection_path(connection) %></li>
   <% else %>
   <li>You can no longer change your request status</li>
   <% end %>
   <% end %>
     <% end %>



 

  </div>
</div>



