<!-- Wraps the entire page -->
<div class="row main-row">
  <div class="medium-10 columns medium-centered">

    <ul class="tabs" data-tab data-options="scroll_to_content: false">
      <li class="tab-title"><a href="#learn">Learn a skill</a></li> 
      <li class="tab-title"><a href="#user-learnings"><%= current_user.first_name %>'s Outbox</a></li>
    </ul>

    <div class="tabs-content">

      <div class="content" id="learn-content">
        <div class="row">
          <div class="medium-12 columns">
            <li><h2 class="skills-header">Discover new classes in your area</h2></li>
            <li><%= image_tag("/assets/drawing-sa.jpeg") %></li>
          </div>
        </div>
        <div class="row top-spacer" data-equalizer>

          <%#= @categories %>
          <%= search_form_for @q do |f| %>
          <div class="medium-5 columns">
            <%= f.text_field :location_cont, placeholder: "Search for a location" %>
          </div>
          <div class="medium-5 columns">
            <%= f.text_field :category_cont, placeholder: "Search for a category" %>
          </div>
          <div class="medium-2 columns">
            <%= f.submit "Go", class: "button search-button" %>
          </div>

          <% end %>
        </div>
        <%= render @skills %>
      </div>


      <div class="content" id="user-learnings-content">

          <%= render "learn" %>

        </div>
        <!-- These three are the closing divs from the top of the page -->
      </div>
    </div>
  </div>

  <script>
    $(document).ready(function() {
      if (location.search && location.pathname == "/skills") {
        var anchorTagToSelect = $("a[href='#learn']")
        var tabToSelect = anchorTagToSelect.parent();
        tabToSelect.toggleClass("active");

        var contentToSelect = $("#learn-content");
        contentToSelect.toggleClass("active");
      }
    });
  </script>
