<!-- Wraps the entire page -->
<div class="row main-row">
  <div class="medium-10 columns medium-centered">

    <ul class="tabs" data-tab data-options="scroll_to_content: false">
      <li class="tab-title"><a href="#share">Share a skill</a></li>
      <li class="tab-title"><a href="#user-listings"><%= current_user.first_name %>'s Inbox</a></li>
    </ul>

    <div class="tabs-content">

      <div class="content" id="share-content">
        <div class="row">
          <div class="medium-12 columns">
            <li><%= image_tag("/assets/running-pair.jpg") %></li>
          </div>
        </div>
        <div class="row top-spacer" data-equalizer>
        </div>
        <%= render "form" %>

      </div>

      <div class="content" id="user-listings-content">
       
<!--      <div class="row">
       <div class="medium-12 columns">
         <div class="card">
         <div class="content">

         <div class="row">
           <div class="medium-3 columns">
              <span class="my-picture"><%= image_tag(current_user.photo.thumb.url) %></span>
              </div>
              <div class="medium-9 columns">
             <h2><%= current_user.first_name %> <%= current_user.last_name %></h2>
             <h4>Credits:</strong> <%= current_user.credits %></h4>
             <div class="row">
               <div class="medium-12 columns">
               <div class="title">Classes I've listed:</div>
               <#% current_user.skills.each do |skill| %>
                     <li><strong><#%= link_to skill.try(:title), edit_skill_path(skill) %></strong></li>
                 </div>
               </div>
               <#% end %>
            </div>
            </div>

            </div>
            </div>
            </div>
          </div> -->
          
          <%= render "share" %>
        </div>
      </div>
    </div>
  </div>