<li class="front-image"><%= image_tag("/assets/drawing-sa.jpg") %></li>


<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

<!-- 
  <div class="row">
    <div class="medium-6 columns">
      <div class="card">
        <div class="image">
          <img src="http://static.pexels.com/wp-content/uploads/2014/07/alone-clouds-hills-1909-527x350.jpg">
          <span class="title">What's Skwap?</span>
        </div>
        <div class="content">
          <p>Skwap is the worlds first skill sharing website that works on a credits basis. Think of it as a marketplace for learning things you've always wanted to try by learning from the people in your area. The only catch? You have to give back with something of your own.</p>
        </div>
        <div class="action">
          <a href='#'>Where this leads</a>
        </div>
      </div>
    </div> -->

    <div class="row main-row">
    <div id="sign-in" class="medium-12 column">
        <div class="content">
          <span class="title">Login</span>
          <p> <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true %>
      </div> </p><p>
      <div class="field">
        <%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "off" %>
      </div></p>
        </div>
        <div class="action">
          <div class="field">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
          <%= f.submit "Log in", class: "button" %>
        </div>
    </div>
    </div>
 

  <% end %>



  
 



