<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Skwap" %></title>
   <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,700|Raleway:400,700' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <%= render "header" %>
    <%= render "flash_messages" %>
<!--     <div class="row">
      <div class="medium-12 columns medium-centered"> -->
        <%= yield %>
  <!--   </div>
    </div> -->

    <%= render "footer" %>

  </body>
</html>